django
pymongo
numpy
matplotlib
pandas
scikit-learn
git+https://github.com/HuyNguyenDePaul/trame-server.git@master
trame-client
trame-components
trame-matplotlib
trame-vtk
trame-vuetify
dask[complete]
dask-histogram
boost-histogram
pyzmq