django
pymongo
scikit-learn
numpy
pandas
polars
matplotlib
plotly
git+https://github.com/HuyNguyenDePaul/trame-server.git@master
trame
trame-client
trame-components
trame-matplotlib
trame-plotly
trame-router
trame-vtk
trame-vuetify
dask[complete]==2024.11.2
dask-histogram==2024.9.1
boost-histogram
brotli
zstandard
aiofiles
pyzmq
cryptography
pynacl
watchdog
playwright
redis
hiredis
hupper
requests
channels
daphne
websockets
pydicom