pandas
trame>3
trame-vuetify
trame-router
trame-components
trame-matplotlib
numpy
trame[vuetify]
django
pymongo
matplotlib==3.9.0
scikit-learn
trame
trame-client
trame-server
trame-vtk
watchdog
requests
pydicom
dask-histogram
boost-histogram
