{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading">Welcome to NeuroBazaar</div>
                <div class="typewrite masthead-subheading text-uppercase" style="padding-bottom: 50px;" 
                data-period="2000" data-type='[ "Data Analysis", "Model Evaluation", "Fairness Assessment" ]'>
                 <span class="wrap"></span></div>
                <a class="btn btn-primary btn-xl text-uppercase"  href="#services">Tell Me More</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted">Explore our range of offerings designed to meet your data analysis and model evaluation needs.</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-solid fa-chart-line fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Data Analysis</h4>
                        <p class="text-muted">We offer comprehensive data analysis services to help you extract meaningful insights from your datasets.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-solid fa-list-check fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Model Evaluation</h4>
                        <p class="text-muted">Our experts will evaluate your machine learning models to assess their performance and identify areas for improvement.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-solid fa-check fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Fairness Assessment</h4>
                        <p class="text-muted">We provide fairness assessments for your models to ensure they do not exhibit bias or discrimination.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Models Available</h2>
                    <h3 class="section-subheading text-muted">Analyze the performance of different machine learning algorithms to evaluate their effectiveness in solving your data science problems.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/assets/img/KNN.webp" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">K-Nearest Neighbors (KNN)</div>
                                <div class="portfolio-caption-subheading text-muted">Assess the performance of the KNN algorithm using your dataset. Explore various hyperparameters to optimize model performance.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/assets/img/Decision Tree.jpeg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Decision Trees</div>
                                <div class="portfolio-caption-subheading text-muted">Evaluate the performance of decision tree models on your data. Gain insights into feature importance and model interpretability.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/assets/img/RF.webp" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Random Forest</div>
                                <div class="portfolio-caption-subheading text-muted">Investigate the performance of Random Forest models for robust and accurate predictions. Explore ensemble learning techniques.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/assets/img/SVM.webp" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Support Vector Machines (SVM)</div>
                                <div class="portfolio-caption-subheading text-muted">Explore the performance of SVM models for classification and regression tasks. Analyze kernel functions and regularization parameters.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/assets/img/Neuralnw.webp" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Neural Networks</div>
                                <div class="portfolio-caption-subheading text-muted">Evaluate the performance of neural network architectures for complex pattern recognition tasks. Experiment with different activation functions and layer configurations.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Portfolio item 6-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/assets/img/GB.webp" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Gradient Boosting</div>
                                <div class="portfolio-caption-subheading text-muted">Analyze the performance of gradient boosting algorithms such as XGBoost and LightGBM for boosting ensemble models.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Meet the talented individuals behind our success.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/static/assets/img/default.png" alt="..." />
                            <h4>Nimisha Bhoir</h4>
                            <p class="text-muted">Lead Designer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/static/assets/img/default.png" alt="..." />
                            <h4>Rushikesh Suryawanshi</h4>
                            <p class="text-muted">Lead Marketer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/static/assets/img/default.png" alt="..." />
                            <h4>Vivek Gupta</h4>
                            <p class="text-muted">Lead Developer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Our team brings a diverse set of skills and experiences to the table, ensuring innovative solutions and exceptional results for our clients. Together, we strive to exceed expectations and deliver excellence in every project we undertake.</p></div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Have questions? Drop us a message.</h3>
                </div>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                <input class="form-control" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <div class="form-group">
                                <!-- Email address input-->
                                <input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Phone number input-->
                                <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div>
                </form>
            </div>
        </section>
        <!-- Portfolio Modals--> 
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">K-Nearest Neighbors (KNN)</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/KNN.webp" alt="..." />
                                    <p>K-Nearest Neighbors (KNN) is a simple yet effective supervised learning algorithm used for classification and regression tasks. 
                                        The algorithm makes predictions based on the majority class or the average of the nearest data points in the feature space. 
                                        It does not learn a model during training but rather memorizes the training data for making predictions at test time. 
                                        KNN operates on the principle that similar data points tend to belong to the same class or have similar values. 
                                        The "k" in KNN represents the number of nearest neighbors considered when making a prediction. 
                                        The algorithm calculates distances (usually Euclidean distance) between the query instance and all training samples and selects the k-nearest neighbors. 
                                        In classification, the class label is determined by a majority vote among the k neighbors, while in regression, the prediction is the average of the target values of the k neighbors. 
                                        KNN is non-parametric and lazy, meaning it doesn't assume any underlying probability distributions and doesn't learn a specific model during training, making it computationally efficient but potentially sensitive to noisy or irrelevant features. 
                                        It is commonly used in various domains such as pattern recognition, recommendation systems, and anomaly detection.</p>
                                    
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Decision Trees</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/Decision Tree.jpeg" alt="..." />
                                    <p>
                                        Decision Trees are a versatile supervised learning method used for both classification and regression tasks. The algorithm partitions the feature space into regions based on feature values, creating a tree-like structure where each internal node represents a decision based on a feature and each leaf node represents a predicted outcome. 
                                        The decision tree is built recursively by selecting the best feature to split the data at each node, typically based on metrics such as information gain or Gini impurity for classification tasks and variance reduction for regression tasks. 
                                        The goal is to create simple yet effective decision rules that accurately predict the target variable. 
                                        Decision trees are interpretable, easy to visualize, and can handle both numerical and categorical data. However, they are prone to overfitting, especially with complex or noisy data, which can be mitigated using techniques like pruning, setting minimum samples per leaf, or using ensemble methods such as Random Forests. 
                                        Despite this limitation, decision trees are widely used in various domains such as finance, healthcare, and marketing due to their simplicity, flexibility, and ability to handle non-linear relationships in data.</p>
                                    
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Random Forest</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/RF.webp" alt="..." />
                                    <p>Random Forest is an ensemble learning method that combines multiple decision trees during training to improve predictive performance and generalization. Each decision tree in the forest is trained independently on a random subset of the training data and a random subset of the features, introducing randomness in both data sampling and feature selection. During prediction, the mode of the classes (classification) or the mean prediction (regression) of the individual trees is outputted.

                                        Random Forest mitigates overfitting and reduces variance by aggregating the predictions of multiple trees, effectively smoothing out individual tree errors and capturing more robust patterns in the data. Additionally, by using randomness in feature selection and data sampling, Random Forest tends to be less sensitive to noisy or irrelevant features compared to individual decision trees.
                                        
                                        Random Forest is widely used in various machine learning tasks due to its robustness, scalability, and ability to handle high-dimensional data. It is effective for both classification and regression problems and is particularly suitable for tasks where interpretability is not a primary concern but predictive accuracy and generalization are crucial.</p>
                                    
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Support Vector Machines (SVM)</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/SVM.webp" alt="..." />
                                    <p>Support Vector Machines (SVM) are powerful supervised learning algorithms used for classification and regression tasks. In classification, SVM aims to find the hyperplane that best separates data points into different classes while maximizing the margin between classes. This hyperplane is selected to be the one that maximizes the distance between the nearest data points from each class, known as support vectors.

                                        SVM can handle both linearly separable and non-linearly separable data by using a technique called the kernel trick. This involves transforming the input features into a higher-dimensional space where the data becomes linearly separable, allowing SVM to find a separating hyperplane. Common kernel functions include linear, polynomial, radial basis function (RBF), and sigmoid kernels.
                                        
                                        In regression tasks, SVM works by finding the hyperplane that best fits the data while minimizing the error between the predicted and actual values.
                                        
                                        SVM is effective in high-dimensional spaces and is particularly suitable for tasks with complex decision boundaries and relatively small to medium-sized datasets. It is widely used in various domains such as image classification, text categorization, and bioinformatics. However, SVM's computational complexity can increase significantly with large datasets, and tuning the kernel parameters can be challenging.</p>
                                    
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Neural Networks</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/Neuralnw.webp" alt="..." />
                                    <p>Neural Networks are a class of algorithms inspired by the structure and functioning of the human brain. They consist of interconnected nodes organized in layers, including input, hidden, and output layers. Each node, or neuron, performs a simple computation on its inputs and passes the result to the next layer.

                                        During training, neural networks learn to approximate complex functions and patterns in data by adjusting the weights and biases associated with each connection between neurons. This process involves forward propagation, where input data is passed through the network to make predictions, and backward propagation, where errors are calculated and used to update the network parameters via optimization algorithms such as gradient descent.
                                        
                                        Neural networks can be used for various machine learning tasks, including classification, regression, and pattern recognition. Deep learning, a subset of neural networks, involves networks with many hidden layers, allowing them to learn hierarchical representations of data. Deep learning has been particularly successful in recent years, revolutionizing fields such as computer vision, natural language processing, and speech recognition.
                                        
                                        Neural networks are highly adaptable and capable of solving a wide range of tasks. However, they require large amounts of data for training and tuning, and designing effective architectures and training procedures can be challenging. Despite these challenges, neural networks have demonstrated state-of-the-art performance in many domains and continue to be an active area of research and development.</p>
                                    
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Gradient Boosting</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/GB.webp" alt="..." />
                                    <p>Gradient Boosting is an ensemble learning technique used for both regression and classification tasks. It builds a strong predictive model by combining the predictions of multiple weak learners, typically decision trees, in a sequential manner.

                                        The key idea behind Gradient Boosting is to fit each new model to the residuals, or errors, of the previous model, thereby reducing the error iteratively. In each iteration, a new weak learner is trained to predict the residuals of the ensemble of models built so far. The predictions of all weak learners are then combined to make the final prediction.
                                        
                                        Gradient Boosting differs from other ensemble methods like Random Forest in that it optimizes a cost function using gradient descent to minimize the error. This makes it particularly effective in reducing bias and improving predictive accuracy.
                                        
                                        Popular implementations of Gradient Boosting include Gradient Boosting Machines (GBM), XGBoost, LightGBM, and CatBoost. These implementations offer various optimizations and enhancements to improve training speed, scalability, and performance. Gradient Boosting is widely used in competitions and real-world applications due to its ability to produce highly accurate predictions across a wide range of tasks.</p>
                                    
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; NeuroBazaar 2024</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>


{% endblock body %}